:root{
   --main-color: #1abc9c;
   --second-color: #2c3e50;
}
#about{
   background-color: var(--main-color);
   margin-top: 84px;
   min-height: calc(-112px + 100vh);

   .line{
      height: 4px;
      width: 80px;
      background-color: white;
   }
   p{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 16px;
      font-weight: 400;
   }
}